html,
body {
  background-color: darkgray;
  font-family: "Poppins", sans-serif;
}
.flex {
  display: flex;
}
.grid {
  display: grid;
}
.grid-cols-1 {
  grid-template-columns: repeat(1, minmax(0, 1fr));
}
.grid-cols-6 {
  grid-template-columns: repeat(6, minmax(0, 1fr));
}
.flex-col {
  flex-direction: column;
}
.flex-row {
  flex-direction: row;
}
.items-center {
  align-items: center;
}
.items-end {
  align-items: end;
}
.justify-center {
  justify-content: center;
}
.justify-between {
  justify-content: space-between;
}
.justify-end {
  justify-content: end;
}
.gap {
  gap: 0.75rem;
}
.w-full {
  width: 100%;
}
.max-w-min {
  max-width: min-content;
}
.pad {
  padding: 0.75rem;
}
.text-box {
  background-color: red;
}
.navbar {
  background-color: whitesmoke;
  margin-bottom: 0.75rem;
  border: 1px solid black;
}
.rounded {
  border-radius: 5px;
}
.btn {
  display: flex;
  padding: 8px;
  background-color: black;
  opacity: 0.8;
  border-radius: 5px;
  color: azure;
  transition: 0.2s ease-in-out;
  cursor: pointer;
}
.svg-btn {
  filter: invert(100%) sepia(0%) saturate(7480%) hue-rotate(349deg)
    brightness(89%) contrast(107%);
}
.btn:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
.btn:disabled:hover {
  scale: 1;
  opacity: 0.5;
}
.btn:hover {
  scale: 1.1;
  opacity: 1;
}
.search-bar {
  border: 3px solid;
  border-radius: 10px;
  text-indent: 5px;
  transition: 0.2s;
}
.search-bar:focus {
  border: 3px solid azure;
}
.card {
  background-color: whitesmoke;
  padding: 0.75rem;
  border-radius: 5px;
  border: 1px solid black;
}
.text {
  padding: 0;
  margin: 0;
}
.text-base {
  font-size: 1rem;
  line-height: 1.5rem;
}
.text-sm {
  font-size: 0.875rem;
  line-height: 1.25rem;
}
.text-xl {
  font-size: 1.25rem;
  line-height: 1.75rem;
}
.m-0 {
  margin: 0px;
}
.a-btn {
  text-decoration: none;
  display: flex;
  padding: 8px;
  background-color: black;
  opacity: 0.8;
  border-radius: 5px;
  color: azure;
  cursor: pointer;
}
/* PopOver Css */

.wrapper {
  position: relative;
  padding: 20px;
}

.trigger {
  margin-bottom: 10px;
}

.content {
  visibility: hidden;
  background-color: whitesmoke;
  border: 2px solid black;
  position: absolute;
  padding: 15px;
}

.content:before {
  position: absolute;
  top: -10px;
  content: "";
  right: calc(50% - 10px);
  border-style: solid;
  border-width: 0 10px 10px 10px;
  border-color: transparent transparent #bfbfbf transparent;
}

.wrapper:hover .content {
  visibility: visible;
}
/* PopOver Css Over*/
