html,
body {
  background-color: #181b1b;
  font-family: "Poppins", sans-serif;
  color: white;
}
a {
  text-decoration: none;
}
.flex {
  display: flex;
}
.grid {
  display: grid;
}
.grid-cols-1 {
  grid-template-columns: repeat(1, minmax(0, 1fr));
}
.grid-cols-6 {
  grid-template-columns: repeat(6, minmax(0, 1fr));
}
.grid-cols-3 {
  grid-template-columns: repeat(3, minmax(0, 1fr));
}
.grid-cols-2 {
  grid-template-columns: repeat(2, minmax(0, 1fr));
}
.flex-col {
  flex-direction: column;
}
.flex-row {
  flex-direction: row;
}
.items-start {
  align-items: start;
}
.items-center {
  align-items: center;
}
.items-end {
  align-items: end;
}
.justify-center {
  justify-content: center;
}
.justify-between {
  justify-content: space-between;
}
.justify-end {
  justify-content: end;
}
.gap {
  gap: 0.75rem;
}
.w-full {
  width: 100%;
}
.max-w-min {
  max-width: min-content;
}
.pad {
  padding: 0.75rem;
}
.text-box {
  background-color: red;
}
.navbar {
  background-color: #232928;
  margin-bottom: 0.75rem;
  border: 1px solid #3b4542;
}
.rounded {
  border-radius: 5px;
}
.btn {
  padding: 0.75rem;
  border-radius: 1rem;
  border-width: 2px;
  border-color: #3b4542;
  border-style: dashed;
  font-weight: 600;
  color: #00b78e;
  text-transform: uppercase;
  background-color: #232928;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
  transition-duration: 300ms;
  cursor: pointer;
}
.btn-disabled {
  padding: 0.75rem;
  border-radius: 1rem;
  border-width: 2px;
  border-color: #3b4542;
  border-style: dashed;
  font-weight: 600;
  color: #000000;
  text-transform: uppercase;
  background-color: #232928;
  cursor: not-allowed;
  opacity: 0.5;
}
.btn:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
.btn:disabled:hover .btn-disabled:hover {
  opacity: 0.5;
}
.btn:hover {
  border-radius: 0.375rem;
}
.card {
  flex: 1;
  background-color: #232928;
  padding: 0.75rem;
  border-radius: 5px;
  border: 1px solid #3b4542;
  height: auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.text {
  padding: 0;
  margin: 0;
}
.text-base {
  font-size: 1rem;
  line-height: 1.5rem;
}
.text-sm {
  font-size: 0.875rem;
  line-height: 1.25rem;
}
.text-xl {
  font-size: 1.25rem;
  line-height: 1.75rem;
}
.m-0 {
  margin: 0px;
}

/* PopOver Css */

.wrapper {
  position: relative;
  padding: 20px;
}

.content {
  visibility: hidden;
  background-color: #232928;
  border: 2px solid #3b4542;
  position: absolute;
  padding: 15px;
  z-index: 99;
  margin-top: 15px;
}

.content:before {
  position: absolute;
  top: -10px;
  content: "";
  right: calc(50% - 10px);
  border-style: solid;
  border-width: 0 10px 10px 10px;
  border-color: transparent transparent black transparent;
}

.wrapper:hover .content {
  visibility: visible;
}
/* PopOver Css Over*/

@media (min-width: 1024px) {
  .lg\:grid-cols-6 {
    grid-template-columns: repeat(6, minmax(0, 1fr));
  }
}
@media (min-width: 1024px) {
  .lg\:grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}
@media (min-width: 1024px) {
  .lg\:grid-cols-4 {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}

.w-\[80px\] {
  width: 80px;
}

@media (min-width: 1024px) {
  .lg\:w-\[120px\] {
    width: 120px;
  }
}
.meal-card {
  display: inline-grid;
  width: 295px;
  overflow: hidden;
  border-radius: 25px;
  border: 1px solid #3b4542;
  margin: 10px;
  box-shadow: 5px 5px 15px 5px #3b4542;
}
.card__image {
  position: relative;
  height: 180px;
}
.card__image > img {
  max-width: 100%;
  border-bottom-right-radius: 30px;
  transform: rotate(10deg) translate(-15px, -55px);
  position: absolute;
  height: 230px;
  object-fit: cover;
  object-position: center;
}
.card__info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0px 30px 20px 30px;
}
.card__info h3 {
  font-size: 18px;
  font-weight: 700;
}
.card__info p {
  font-size: 14px;
  font-weight: 600;
}
.card__info--price {
  text-align: right;
  margin-top: auto;
  color: #00b700;
}
.hover:hover {
  cursor: pointer;
}
